*/target/*
*/bin/*
*/gen/*
*/.classpath
*/.settings/*
*/.idea/*
.idea/*
.gradle/*
*/classes/*
*.iml
*.class
*/build/*
build/*
gradle/wrapper/*
gradlew*
local.properties
gradle.properties
desktop/net.bither.ApplicationDataDirectoryLocator*
out
gradle
JWrapperBuild
jwrapperlib
wrappers
gu_version
JWrapperLaunchTemp
LastExtractedJWrapperVersion
jwrapper*.jar
desktop/.gradle
hs_err_pid10974.log
jwrapper*.xml
*.log
release*.sh
*.o
*.oclbin
/Makefile~
JRE-1.*
